<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<div class= container>  
   <img class=backgroundh1 src="https://static.pexels.com/photos/24146/pexels-photo.jpg">
    <div class="row">
           <h1 >trend setters</h1>
     </div>

     
 
       <div class="row">
            <div><p>Weather forecast</div>
       </div>
   </div>